<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" > <!-- mybatis를 사용하기때문에 이분도 필요하다. -->
<mapper namespace="com.web.test.User.mapper.SignupMapper">
	<insert id="insertRegister" parameterType="com.web.test.User.vo.UserVo">
		INSERT INTO TB_USER(USER_ID, USER_NAME, USER_PWD, MANAGER_YN, PHONE, POSTCODE, ADDRESS, DETAILADDRESS, EXTRAADDRESS)
		 VALUES(#{user_id}, #{user_name}, #{user_pwd}, 'N', #{phone}, #{postcode},  #{address}, #{detailaddress}, #{extraaddress})
	</insert>	
	
	<select id="selectByIdWithResult" resultType="java.util.Map">
	    SELECT * FROM TB_USER WHERE USER_ID=#{user_id}
	</select>
	
	<select id="findId" resultType="java.lang.String">
		SELECT USER_ID FROM TB_USER 
		WHERE USER_NAME = #{user_name}
		AND PHONE = #{phone}
	</select>
	
	<select id="findPwd" resultType="java.lang.String">
		SELECT USER_PWD FROM TB_USER 
		WHERE USER_ID = #{user_id}
		AND USER_NAME = #{user_name}
		AND PHONE = #{phone}		
	</select>
</mapper>